<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
	
	
    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]
	ErrorDocument 404 /404.html
	ErrorDocument 403 /403.html
	DirectoryIndex index.php index.html public/index.php 
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # Disable index view
    Options -Indexes

    # Hide a specific file
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    # أي طلب يبدأ بـ ".git" يتم منعه
    RewriteRule ^\.git - [F]
</IfModule>